main{
	background:#EEEEEE;
}
nav{
	background:#003366;
}
.card{text-align: center;}
.responsive-img{margin-top:10px;}
#jogosonline{margin-left: 20px;}
.slider{
	margin-top: 10px;
}
.from {
  height: 498px;
  background: #65878F;
  border-radius: 5px;  
  color: #b9becd;
  border-radius: 2%; 
  float: none; 
  width: 740px;
 }