main{
	background:#EFEDED;
}
nav{
	background-color: #FF7416;
}
.card {
    text-align: center;
    background:#0F3057;
    color: white;
}
.responsive-img{
    margin-top:10px;
}
#jogosonline{margin-left: 20px;}
.slider{
	margin-top: 10px;
}
.from {
  height: 498px;
  background: #65878F;
  border-radius: 5px;  
  color: #b9becd;
  border-radius: 2%; 
  float: none; 
  width: 740px;
 }
.modal {
     background: #123660;
}
.button {
     background: #FA812F;
}