main{
	background:#EEEEEE;
}
nav{
	background:#003366;
}
footer>.container{
	background-color:#003366;
}
footer>div.footer-copyright{
	background-color:#0d47a1;
}
.card{text-align: center;}
.responsive-img{margin-top:10px;}
#jogosonline{margin-left: 20px;}
.slider{
	margin-top: 10px;
}
