body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width:100vw
  }
nav{
    width:100vw
}
main {
    flex: 1 0 auto;
  }
footer{
    width:100vw
}
.circle{
    margin-left:0;
}
.search-desktop {
    width:450px;
    height:64px;
}
.inputy {
    height:60px;
}
::-webkit-scrollbar {
    display: none;
}
@media only screen and (min-width: 993px){
    .brand-logo{
        margin-left: 30px; /*Aumente aqui pra afastar a logo*/
    }
}
