<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	
     <connectionStrings> 
        <add name="teste7ConnectionString" connectionString="Data Source=mssql2.gear.host;Initial Catalog=teste7;Persist Security Info=True;User ID=teste7;Password=teste!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
	
	
  <system.web>
    
  <membership defaultProvider="AspNetSqlProvider" userIsOnlineTimeWindow="15">
        <providers> 
          <clear />
          <add
            name="AspNetSqlProvider"
            type="System.Web.Security.SqlMembershipProvider"
            connectionStringName="aspnetdbConnectionString"
            applicationName="/"
            enablePasswordRetrieval="false"
            enablePasswordReset="true"
            requiresQuestionAndAnswer="false"
            requiresUniqueEmail="false"
            passwordFormat="Hashed" />
        </providers>
      </membership>
    
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
</configuration>