<?xml version="1.0"?>
<configuration>
  <connectionStrings> 
    <add name="teste7ConnectionString" connectionString="Data Source=mssql2.gear.host;Initial Catalog=teste7;Persist Security Info=True;User ID=teste7;Password=teste!"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.5"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
</configuration>
